{% extends 'password_reset/base_reset.html' %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block content %}
<div class="panel-heading">
    <div class="panel-title">Please enter your new password twice so we can verify you typed it in
        correctly.
    </div>
</div>

<div style="padding-top:30px" class="panel-body">

    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

    <form id="loginform" class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            {{form.new_password1}}
        </div>
        <label> {{ form.new_password1.errors }}</label>
        <p style="padding: 0 0 10px 10px;"><small>Your password can’t be too similar to your other personal information.
                Your password must contain at least 8 characters.
                Your password can’t be a commonly used password.
                Your password can’t be entirely numeric.</small></p>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            {{form.new_password2}}
        </div>

        <label style="padding-top: 10px;">{{ form.new_password2.errors }}</label>
        <div style="margin-top:10px" class="form-group">
            <!-- Button -->
            <div class="col-sm-12">
                <button id="btn-login" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
{% block script %}

<script>
    $('input').addClass('form-control')
    $('input[name=new_password1').attr('placeholder', 'new password')
    $('input[name=new_password2').attr('placeholder', 'confirm new password')
</script>
{% endblock script %}