{% extends 'password_reset/base_reset.html' %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block content %}
<div class="panel-heading">
    <div class="panel-title">
        Password reset email sent
    </div>
</div>
<div class="panel-body">We’ve emailed you instructions for setting your password, if an
    account exists with
    the email you entered. If you don’t receive an email, please make sure you’ve entered the address
    you
    registered with, and check your spam folder.
</div>
{% endblock content %}