<table cellspacing="0" border="0" cellpadding="0" width="100%"
    style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
    <tr>
        <td>
            <table style="max-width:670px;  margin:0 auto;" width="100%" border="0" align="center" cellpadding="0"
                cellspacing="0">
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <a href="https://efixbd.com" title="logo" target="_blank"
                            style="text-decoration: none;font-size: 25px;color: #0069d9;font-family:'Rubik',sans-serif;">
                            <h2>E-Fix</h2>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                            style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                            <tr>
                                <td>
                                    <h2
                                        style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">
                                        You have
                                        requested to reset your password</h2>
                                    <span
                                        style="display:inline-block; vertical-align:middle; margin:26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                    <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                        To reset your password, click the
                                        following link and follow the instructions.
                                    </p>
                                    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
                                        style="background:#0069d9;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:3px;">Reset
                                        Password</a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#ffffff"
                                    style="padding: 30px 0; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
                                    <p style="color: #455056;
                                        font-size: 15px;
                                        line-height: 24px;
                                        margin: 0;">If that doesn't work, copy and paste the
                                        following link in
                                        your browser:</p>
                                    <p style="color: #455056;
                                        font-size: 15px;
                                        line-height: 24px;
                                        margin: 0;"><a
                                            href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
                                            target="_blank">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#ffffff"
                                    style="padding: 10px 20px 40px 20px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 15px;">
                                    <p style="color: #455056;
                                        font-size: 15px;
                                        line-height: 24px;
                                        margin: 0;">This link can only be used once. If you need
                                        to reset your password again, please visit <a href="{{ protocol }}://{{domain}}"
                                            target="_blank">{{ protocol }}://{{domain}}</a> and
                                        request another reset.
                                        If you did not make this request, you can simply ignore this email.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <p
                            style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
                            &copy; <strong>efixbd.com</strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>